# ignore everything by default
*

# exclude any repository meta files
!.git*
!*README*
!*LICENSE*

# add exceptions for parent directories
!/**/

# add exceptions for the font file types we want
!*.[TtOo][Tt][Ff]
!*.[Ee][Oo][Tt]
